{% extends 'abonnementClient.html.twig' %}

{% block title %}Ajouter un abonnement{% endblock %}

{% block body %}
    <h1>Ajouter un abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}


   
{% endblock %}

