{% extends 'admin.html.twig' %}


{% block body %}
    <h1>Edit Planning</h1>

    {{ include('planning/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
