{% extends 'rdvclient.html.twig' %}

{% block title %}New Rdv{% endblock %}

{% block body %}
    <h1>Prendre un rendez_vous</h1>

{% for flash_message in app.flashes('error') %}
                                <div class="alert alert-danger">{{ flash_message }}</div>
                            {% endfor %}
                            {% for flash_message in app.flashes('success') %}
                                <div class="alert alert-success">{{ flash_message }}</div>
                            {% endfor %}
    {{ include('rdv/_form.html.twig') }}
   

{% endblock %}
