{% extends 'admin.html.twig' %}

{% block body %}
    <h1 style="text-align:center"> Espace de modification de {{menu.nom}}</h1>

     <div class="d-md-flex justify-content-between mb-2">
     <ul class="nav nav-tabs b-none">
     <li class="btn" ><a href="{{ path('app_menu_index') }}" class="rounded" ><i class="fa fa-arrow-left"></i> <strong> Revenir vers Menus </strong></a></li>
      {{ include('menu/_delete_form.html.twig') }}
     </ul>
       </div>


    {{ include('menu/_form.html.twig', {'button_label': 'Changer'}) }}

   

   
{% endblock %}
