{% extends 'basePanier.html.twig' %}

{% block title %}Paiment mode échec!{% endblock %}

{% block body %}
   
    <div class="section checkout">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center order_complete">
                        <i class="fas fa-ban"></i>
                        <div class="heading_s1">
                          <h3>Nous sommes désolés MR FOULEN . Votre paiement a été rejeté !</h3>
                        <div>
                        <div>Le paiment de la commande   a été rejeté.
                        </div>
                            <div>Vous avez essayé de payer votre commande et nous vous en remercions.
                                Votre paiement n'a pas été accepté. Votre commande n'a pas été confirmée.
                                Nous vous invitons à vérifier la validation de votre carte bancaire, et à vous connecter sur notre site et renouveller votre commande.
                            </div>
                            <div>
                                <a href="http://127.0.0.1:8000/produit/panier" class="btn btn-fill-out">Reprendre l'achat</a>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}